/***** Blog page *****/

    .pav-header a span.fa-rss {
        color: orange !important;
    }
    .page-pavblog-blogs, .page-pavblog-category {
        .blog-item {
            margin-bottom: 10px;
            @include rtl-padding(42px, 70px, 42px, 0px);
            background: $white;
        }
        .blog-image {
            position: relative;
            width: 330px;
            @include rtl-float-right();
        }
        .blog-body {
            width: calc(100% - 390px);
            @include rtl-float-left();
            padding: 0px 40px;
            @include rtl-border-left(3px solid $theme-color);
            .blog-title {
                font-family: $font-family-base;
                font-size: 18px;
                margin-bottom: 10px;
                margin-top: 0px;
                line-height: 1.5;
                font-weight: normal;
            }
            .blog-meta {
                margin-bottom: 13px;
                ul {
                    margin-bottom: 0px;
                }
                li {
                    @include rtl-margin-right(4px);
                    @include rtl-padding-right(15px);
                    position: relative;
                    &:after {
                        content: "-";
                        position: absolute;
                        @include rtl-right(0px);
                        top: 0px;
                    }
                    &:last-child {
                        margin: 0px;
                        padding: 0px;
                        &:after {
                            display: none;
                        }
                    }
                    span {
                        &.author {
                            color: $theme-color;
                            text-transform: capitalize;
                        }
                        &.created {
                            color: $link-color;
                        }
                    }
                }
            }
            .shortinfo {
                margin-bottom: 20px;
            }
            .links {
                a {
                    color: $theme-color;
                    font-size: 17px;
                    &:hover {
                        color: $link-color;
                    }
                }
                .fa-long-arrow-left {
                    display: none;
                }
            }
        }
    }

/***** Blog detail page *****/

    .pav-blog-detail {
        padding: 42px 70px 27px 70px;
        .blog-image {
            padding-bottom: 30px;
            margin-bottom: 35px;
            border-bottom: 1px solid $border-color;
            img {
                width: 100%;
            }
        }
        .blog-title {
            font-family: $font-family-base-medium;
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 20px;
            line-height: 1.5;
        }
        .blog-meta {
            ul {
                margin-bottom: 0px;
            }
            li {
                @include rtl-margin-right(4px);
                @include rtl-padding-right(15px);
                position: relative;
                &:after {
                    content: "-";
                    position: absolute;
                    @include rtl-right(0px);
                    top: 0px;
                }
                &:last-child {
                    margin: 0px;
                    padding: 0px;
                    &:after {
                        display: none;
                    }
                }
                span {
                    color: $link-color;
                    &.author {
                        color: $theme-color;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .blog-content {
            margin: 40px 0px;
            color: $link-color;
        }
        .blog-tags {
            font-size: 11px;
            text-transform: uppercase;
            font-family: $font-family-base;
            color: #222222;
            margin-bottom: 15px;
            a {
                color: $text-color;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        .addthis_toolbox {
            padding-bottom: 20px;
            border-bottom: 1px solid $border-color;
        }
        .same-ralated {
            padding: 15px 0px 15px 0px;
            ul {
                padding: 0px;
                li {
                    margin-bottom: 10px;
                    position: relative;
                    @include rtl-padding-left(10px);
                    &:before {
                        background: $theme-color;
                        content: "";
                        height: 3px;
                        position: absolute;
                        top: 7.5px;
                        @include rtl-left(0px);
                        width: 3px;
                    }
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        .pav-comment {
            border-top: 1px solid $border-color;
            padding-top: 40px;
            h4 {
                font-family: $font-family-base;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .comment-item {
            margin-bottom:20px;
            margin-top: 0px;
        }
        .comment-wrap {
            overflow:hidden;
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #ededed;
            position: relative;
            width: 100%;
            padding: 0px;
            .comment-meta {
                border-bottom: 1px solid #ededed;
                font-size: 12px;
                padding: 15px;
                position: relative;
                > span {
                    font-weight: bold;
                    span {
                        font-weight:normal;
                    }
                }
            }
            .comment-description {
                padding: 15px;
            }
        }
        .blog-social {
            .social-wrap > div {
                float:left;
            }
            .social-heading{
                @include rtl-padding-right(12px);
            }
        }
        .comment-link{
            background: #F4F4F4;
            display: block;
            padding: 15px 20px;
            position: absolute;
            @include rtl-right(0px);
            top: 0;
        }
        .comment-text {
            padding: 15px;
        }
        #comment-form {
            .message{
                background:#FCF8E3;
                padding: 12px;
                color:#000;
                margin-bottom: 12px;
                line-height: 30px;
            }
            .comment-warning{
                color:#B94A48
            }
        }
    }

/***** Blog category page *****/

    .page-pavblog-category {
        .pav-children {
            padding: 42px 70px;
            h3 {
                font-size: 18px;
                font-family: $font-family-base;
                line-height: 1;
            }
        }
        .children-inner {
            h4 {
                font-weight: 400;
                font-size: 14px;
                font-family: $font-family-base;
            }
        }
    }

/* Column left & Column right */

    .sidebar {
        .category-blog {
            .panel-heading {
                background: #434a54;
                h4 {
                    color: $white;
                }
            }
            ul {
                padding: 0px;
                margin: 0px;
            }
            #pav-categorymenu {
                padding: 25px 35px;
            }
            li {
                border-bottom: 1px solid $border-color;
                position: relative;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    display: block;
                    padding: 15px 0px;
                    font-size: $font-size-base + 2;
                }
                span.head {
                    position: absolute;
                    top: 0px;
                    @include rtl-right(0px);
                    text-align: center;
                    a {
                        padding: 15px 0px;
                        display: block;
                        color: #000000;
                        width: 14px;
                    }
                }
                ul {
                    @include rtl-padding-left(25px);
                    li {
                        border: none;
                        &:last-child {
                            padding-bottom: 10px;
                        }
                    }
                    a {
                        padding: 5px 0px;
                        color: #999999;
                        font-size: $font-size-base;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
        .latest-posts {
            padding-top: 30px;
            .panel-body {
                padding: 0px 35px 48px 35px;
            }
            .blog-item {
                border: none;
                margin: 0px;
                padding: 0px;
            }
            .pav-blog-list {
                margin-top: 15px;
            }
            .latest-posts-profile {
                display: none;
            }
            .latest-posts-img img {
                width: 70px;
            }
            .latest-posts-meta {
                width: calc(100% - 70px);
                @include rtl-padding-left(10px);
                .latest-posts-title {
                    margin: 0px;
                    font-size: $font-size-base;
                    font-weight: 400;
                    font-family: $font-family-base;
                    line-height: 1.5
                }
                .shortinfo {
                    display: none;
                }
            }
        }
        .pavblogs-comments {
            padding-top: 30px;
            .panel-body {
                padding: 0px 35px 48px 35px;
            }
            .pav-comment {
                margin-top: 15px;
            }
            a {
                @include rtl-float-left();
            }
            .comment {
                @include rtl-float-right();
                width: calc(100% - 70px);
                p {
                    max-height: 35px;
                    overflow: hidden;
                    margin-bottom: 7px;
                }
            }
            .comment-author {
                color: $theme-color;
                font-style: italic;
            }
        }
    }