[class*="page-pavdeals"] {
    .mass-header {
        background: url("#{$image-theme-path}bg-deal-page.jpg") no-repeat;
        h1 {
            color: $white;
        }
    }
    div.breadcrumb {
        a {
            color: $white;
            &:hover {
                color: $link-color;
            }
        }
        ul {
            li {
                color: $white;
                &:last-child {
                    a {
                        color: $white;
                        &:hover {
                             color: $link-color;
                        }
                    }
                }
            }
        }
    }
}
.tabs-deal {
    margin-bottom: 30px;
    border-bottom: 2px solid #434a54;
    ul {
        padding: 0px;
        margin-bottom: 0px;
    }
    h4 {
        font-size: 14px;
        padding: 14px 38px;
        cursor: pointer;
        transition: all ease 0.5s;
        letter-spacing: 3px;
    }
    li {
        @include rtl-float-left();
        @include rtl-margin-right(3px);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        &:hover {
            background: #434a54;
            h4 {
                color: $white;
            }
        }
        &.active {
            background: #434a54;
            h4 {
                color: $white;
            }
        }
    }
}
.footer-deals {
    color: #434a54;
    ul {
        margin: 0px;
        li {
            text-align: center;
            min-width: 24px;
        }
    }
    .countdown_num {
        font-size: 14px;
        font-family: $font-family-base-semibold;
        letter-spacing: 2px;
    }
}
.product-deals {
    .product-img .sale-exist {
        display: none;
    }
}
.product-list {
    .product-deals {
        .product-img {
            width: 320px;
        }
        .product-meta {
            width: calc(100% - 320px);
        }
    }
    .footer-deals {
        margin-top: 20px;
    }
}