#pav-verticalmenu {
    padding: 47px 45px 0px 45px;
    min-height: 528px;
    .menu-heading {
        margin-bottom: 20px;
    }
}
.verticalmenu {
    ul {
        padding: 0px;
    }
    .dropdown {
        display: block;
        &:hover {
            .dropdown-menu {
                opacity: 1;
                @include rtl-right(100%);
                visibility: visible;
                top: 0px;
            }
            .dropdown-toggle {
                color: $link-hover-color;
            }
        }
    }
    .dropdown-menu {
        @include rtl-left(auto);
        @include rtl-right(110%);
        top: 0px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
        opacity: 0;
        visibility: hidden;
        padding: 30px;
        li a {
            padding: 5px 20px;
            font-family: $font-family-base;
            font-size: $font-size-base - 2;
            line-height: $line-height-base;
            display: block;
        }
        .dropdown-submenu {
            position: relative;
            .dropdown-menu{
                @include rtl-left(auto);
                @include rtl-right(110%);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
                opacity: 0;
                visibility: hidden;
            }
            .dropdown-toggle {
                color: $link-color;
            }
            &:hover{
                >.dropdown-menu{
                    opacity: 1;
                    @include rtl-right(100%);
                    visibility: visible;
                }
                >.dropdown-toggle {
                    color: $theme-color;
                }
            }
        }
    }
    .navbar-nav {
        > li {
            width: 100%;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: none;
            }
            > a {
                display: block;
                padding: 15px 0px;
                font-size: $font-size-base + 2px;
                font-family: $font-family-base;
                position: relative;
                .caret {
                    border: none;
                    position: absolute;
                    @include rtl-right(5px);
                    top: 15px;
                    &:after {
                        content: "\f105";
                        font-family: FontAwesome;
                        font-size: 15px;
                        font-weight: normal;
                        color: #bbbbbb;
                    }
                }
            }
        }
    }

    /***** Style widget on megamenu *****/

    .dropdown-menu {
        > .row {
            margin: 0px;
        }
        .panel-heading .panel-title {
            text-transform: uppercase;
            margin-bottom: 20px;
            padding-bottom: 10px;
            position: relative;
            color: #222222;
            font-size: $font-size-base;
            &:before {
                content: "";
                width: 50px;
                height: 1px;
                background: $theme-color;
                position: absolute;
                bottom: 0;
            }
        }
        .panel-body {
            padding: 0px;
        }
        ul {
            padding: 0px;
            li {
                list-style-type: none;
                a {
                    padding: 10px 0px;
                    font-family: $font-family-base;
                    font-size: $font-size-base;
                    line-height: $line-height-base;
                    display: block;
                }
            }
        }

        /* widget product-list */

        .bg-carousel .panel-heading {
            border: none;
            padding: 0px;
        }

        /* widget video */

        .widget-video iframe {
            border: none;
        }
    }
}
.home-3 {
    .verticalmenu {
        .dropdown {
            &:hover {
                .dropdown-menu {
                    @include rtl-left(100%);
                }
            }
        }
        .dropdown-menu {
            @include rtl-right(auto);
            @include rtl-left(110%);
            .dropdown-submenu {
                .dropdown-menu{
                    @include rtl-right(auto);
                    @include rtl-left(110%);
                }
                &:hover{
                    >.dropdown-menu{
                        @include rtl-left(100%);
                    }
                }
            }
        }
    }
}