/***** Category Products Page *****/

    /* Categry info */

        .mass-header {
            position: relative;
            background: $white;
            height: 120px;
            padding-top: 52px;
            margin-bottom: 58px;
            .breadcrumb {
                @include rtl-float-right();
            }
            h1 {
                font-size: 14px;
                letter-spacing: 3px;
                text-transform: uppercase;
                padding: 27px 0px;
                @include rtl-float-left();
                margin: 0px;
            }
        }
        .category-info {
            .category-banner {
                position: relative;
            }
            .category-description {
                br {
                    display: none;
                }
            }
        }

    /* Refine search */

        .text-refine {
            display: none;
        }
        .box-refine {
            padding: 15px 35px;
            margin-bottom: 32px;
            position: relative;
            &:before {
                content: "";
                width: calc(100% - 70px);
                height: 2px;
                background: #ffffff;
                position: absolute;
                bottom: 15px;
                @include rtl-left(35px);
                z-index: 4;
            }
            &:after {
                content: "";
                width: calc(100% - 70px);
                height: 2px;
                background: #ffffff;
                position: absolute;
                top: 13px;
                @include rtl-left(35px);
                z-index: 4;
            }
            ul {
                margin: 0px;
                padding: 0px;
                position: relative;
            }
            li {
                list-style-type: none;
                padding-top: 15px;
                padding-bottom: 15px;
                border: 1px solid $border-color;
                margin-top: -1px;
                @include rtl-margin-right(-1px);
                z-index: 3;
                a {
                    font-size: $font-size-base;
                    font-family: $font-family-base;
                    color: #999999;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
        .box-refines {
            &:before {
                content: "";
                height: calc(100% - 28px);
                width: 2px;
                background: #ffffff;
                position: absolute;
                @include rtl-left(34px);
                bottom: 15px;
                z-index: 4;
            }
            &:after {
                content: "";
                height: calc(100% - 28px);
                width: 2px;
                background: #ffffff;
                position: absolute;
                @include rtl-right(37px);
                bottom: 15px;
                z-index: 4;
            }
        }
        .category-description {
            color: #434a54;
            br {
                display: none;
            }
        }
        .products-filter-panel{
            padding: 12px 35px;
            margin-bottom: 15px;
            font-family: $font-family-base-medium;
            .limit-items, .order-sort, .order-category, .compare {
                @include rtl-margin-left(40px);
            }
            #compare-total {
                line-height: 36px;
                display: block;
                color: #999999;
                &:hover {
                    color: $theme-color;
                }
            }
            .form-control, .btn{
                box-shadow:none;
                border:none;
            }
            .form-control {
                @include rtl-padding(5px, 30px, 5px, 15px);
                border: 1px solid $border-color;
                height: 36px;
            }
            .group-text {
                @include rtl-margin-right(10px);
            }
            select{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
            label{
                margin: 0px;
                line-height: 36px;
                color: #333333;
            }
            .btn-group {
                .btn-switch {
                    width: 30px;
                    padding: 0px;
                    line-height: 36px;
                    height: 36px;
                    background: none;
                    color: #cccccc;
                    border: none;
                    @include rtl-margin-right(7px);
                    font-size: $font-size-base + 4;
                    &:hover, &.active {
                        color: #000000;
                    }
                }
            }
            .select-wrap{
                position: relative;
                &:before {
                    content: "\f107";
                    position: absolute;
                    @include rtl-right(15px);
                    top: 50%;
                    margin-top: -6.5px;
                    line-height: 1;
                    color: #aaaaaa;
                    font-family: 'FontAwesome';
                    pointer-events: none;
                }
            }
        }

    /* Column left & Column right */

        .sidebar {
            .panel-default {
                margin-bottom: 30px;
                background: $white;
                &.category {
                    .panel-heading {
                        background: #434a54;
                        h4 {
                            color: $white;
                        }
                    }
                }
                .tree-menu {
                    padding: 25px 35px;
                }
                .list-group-item {
                    border: none;
                    border-bottom: 1px solid $border-color;
                    position: relative;
                    &:last-child {
                        border-bottom: none;
                    }
                    .accordion-heading {
                        position: absolute;
                        top: 0px;
                        @include rtl-right(0px);
                        cursor: pointer;
                        span {
                            width: 14px;
                            padding: 15px 0px;
                            display: block;
                            color: #000000;
                            font-size: 14px;
                        }
                    }
                    a {
                        display: block;
                        padding: 15px 0px;
                        font-size: $font-size-base + 2;
                    }
                    .accordion-body {
                        @include rtl-padding-left(25px);
                        li {
                            &:last-child {
                                padding-bottom: 10px;
                            }
                        }
                        a {
                            padding: 5px 0px;
                            color: #999999;
                            font-size: $font-size-base;
                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
                .panel-heading {
                    padding: 17px 35px;
                    letter-spacing: 3px;
                }
                &.filter {
                    padding-top: 30px;
                    input {
                        position: static;
                        margin: 0px;
                    }
                    .panel-body {
                        padding: 0px 35px 48px 35px;
                    }
                    a.list-group-item {
                        font-size: $font-size-base + 2;
                        padding: 15px 0px 10px 0px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid $border-color;
                    }
                    .checkbox {
                        margin: 15px 0px;
                        color: #999999;
                    }
                    div.list-group-item {
                        border: none;
                    }
                    .text-left {
                        margin-top: 35px;
                    }
                }
            }
            .bestseller, .featured, .latest, .special {
                margin-top: 60px;
            }
        }
        .products-module {
            .panel-heading {
                margin-bottom: 25px;
            }
            .product-col {
                padding:0px;
            }
            .product-block {
                margin: 5px 0px;
            }
            .group-right, .group-action, .sale-exist, .price-old {
                display: none;
            }
            .product-img {
                width: 100px;
                @include rtl-float-left();
                .price {
                    font-size: 16px;
                    padding: 2px 5px;
                    &:after {
                        width: calc(100% + 24px);
                        @include rtl-left(-12px);
                    }
                }
            }
            .product-meta {
                width: calc(100% - 100px);
                padding: 10px 15px;
                @include rtl-float-left();
                @include rtl-text-align-left();
                .rating {
                    display: block;
                    margin-top: 10px;
                }
            }
        }

    /* Pagination */

        .paging {
            padding: 12px 30px;
            background: $white;
            line-height: 34px;
        }
        .pagination {
            margin-bottom: 0px;
            @include clearfix();
        }

/***** Product Detail Page *****/

    [class*="product-product"] {
        .mass-header {
            background: #18ca90;
            margin-bottom: 0px;
            h1 {
                color: $white;
            }
        }
        div.breadcrumb {
            a {
                color: $white;
                &:hover {
                    color: $link-color;
                }
            }
            ul {
                li {
                    color: $white;
                    &:last-child {
                        a {
                            color: $white;
                            &:hover {
                                 color: $link-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-products {
        position: relative;
        background: $white;
        padding-top: 20px;
        &:before, &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: $white;
            position: absolute;
            top: 0px;
        }
        &:before {
            left: -100%;
        }
        &:after {
            right: -100%;
        }
    }

    /* Image detail */

        .image-container {
            .image {
                position: relative;
                .sale-exist {
                    background: $product-label-special-bg;
                    color: $product-label-color;
                    padding: 3px 9px 1px 9px;
                    font-family: $font-family-base;
                    font-size: 13px;
                    letter-spacing: 1px;
                    position: absolute;
                    font-weight: 700;
                    z-index: 4;
                    top: calc(50% - 20px);
                    @include rtl-left(-27px);
                }
            }
            #image-additional-carousel {
                padding: 0px 40px;
                img {
                    margin: 0 auto;
                }
            }
            .carousel-controls-v2 {
                .carousel-control {
                    &.left{
                        top: calc(50% - 15px);
                    }
                    &.right{
                        top: calc(50% - 15px);
                    }
                }
            }
            .owl-carousel-play:hover {
                .carousel-controls-v2 {
                    opacity: 1;
                    .carousel-control {
                        &.left{
                            @include rtl-left(0px);
                        }
                        &.right{
                            @include rtl-right(0px);
                        }
                    }
                }
            }
        }

    /* Container detail */

        .detail-container {
            @include rtl-padding(25px, 15px, 0px, 65px);
            .price {
                font-family: $font-family-elements-medium;
                font-size: 36px;
                background: $theme-color;
                padding: 2px 15px;
                display: inline-block;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                position: relative;
                line-height: 1;
                margin-bottom: 25px;
                .price-new {
                    color: $product-price-color;
                }
                .price-old {
                    color: $product-price-old-color;
                    text-decoration: line-through;
                    font-size: 26px;
                    position: absolute;
                    @include rtl-left(calc(100% + 15px));
                    top: 9px;
                }
                .price-olds {
                    color: $product-price-color;
                }
                &:after {
                    content: "";
                    width: calc(100% + 15px);
                    height: 1px;
                    background: $theme-color;
                    position: absolute;
                    bottom: 0px;
                    @include rtl-left(0px);
                }
            }
            h1 {
                font-size: 32px;
                margin-bottom: 15px;
                margin-top: 0px;
                font-weight: 500;
                line-height: 1.3;
                font-family: $font-family-base-medium;
            }
            .rating {
                padding-top: 3px;
                span {
                    &.rate {
                        i {
                            color: #ffd65a;
                        }
                    }
                }
                i {
                    font-size: $product-rating-font-size;
                    color: #cfd5dd;
                }
            }
            .rating-review {
                padding-bottom: 20px;
                margin-bottom: 37px;
                border-bottom: 1px solid $border-color;
                .pull-left {
                    @include rtl-margin-right(25px);
                }
            }
            .popup-with-form {
                font-size: 16px;
                font-family: $font-family-elements-medium;
                color: #aab2bd;
                &:hover {
                    color: $link-hover-color;
                }
            }
            ul {
                margin-bottom: 0px;
                color: $link-color;
                li {
                    margin-top: 5px;
                }
                span.type {
                    width: 110px;
                    display: inline-block;
                }
            }
            #product {
                margin-top: 35px;
            }
            h3 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 15px;
                font-family: $font-family-base;
                color: $theme-color;
            }
            .form-group {
                margin: 0px 0px 25px 0px;
                max-width: 320px;
            }
            .control-label {
                color: $link-color;
                @include rtl-margin-right(10px);
                min-width: 48px;
                &.qty, &.select {
                    line-height: 40px;
                    margin-bottom: 0px;
                }
            }
            select.form-control {
                @include rtl-padding(0px, 30px, 0px, 20px);
                color: $link-color;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
            .select-wrap{
                position: relative;
                height: 40px;
                &:before {
                    content: "\f107";
                    position: absolute;
                    @include rtl-right(15px);
                    top: 50%;
                    margin-top: -6.5px;
                    line-height: 1;
                    color: #aaaaaa;
                    font-family: 'FontAwesome';
                }
            }
            .btn-v3 {
                padding-left: 20px;
                padding-right: 20px;
            }
            .quantity-adder {
                position: relative;
                width: 100px;
                height: 40px;
                .form-control {
                    width: 100px;
                }
                .add-action {
                    font-size: 14px;
                    line-height: 1;
                    cursor: pointer;
                    position: absolute;
                    top: 0px;
                    @include rtl-right(12px);
                    &.add-down {
                        top: calc(50% + 1px);
                    }
                    &.add-up {
                        top: calc(50% - 16px);
                    }
                }
            }
            .box-action {
                padding-top: 38px;
                padding-bottom: 38px;
                margin-top: 38px;
                border-top: 1px solid $border-color;
                .product-qyt-action {
                    @include rtl-margin-right(37px);
                    margin-top: 5px;
                }
                .btn-action {
                    @include rtl-margin-right(5px);
                    &.cart {
                        color: $white;
                        background: $theme-color;
                        &:hover {
                            background: $link-color;
                            border-color: $link-color;
                        }
                    }
                }
            }
            .addthis_toolbox {
                padding-top: 38px;
                border-top: 1px solid $border-color;
            }
        }
        .bootstrap-datetimepicker-widget.dropdown-menu {
            opacity: 1;
            visibility: visible;
            transform: none;
            transform-origin: 0;
            transition: none;
            display: none;
        }

    /* Content detail */

        .tab-v88 {
            border-top: 1px solid $border-color;
            margin-top: 70px;
            padding-top: 50px;
            padding-bottom: 120px;
            .nav-tabs {
                text-transform: uppercase;
                a {
                    font-size: 16px;
                    padding: 0px;
                     color: #aab2bd;
                }
                li {
                    @include rtl-margin-right(50px);
                    &:last-child {
                        margin: 0px;
                    }
                    &.active {
                        a {
                            color: $link-color;
                        }
                    }
                }
            }
            .tab-content {
                margin-top: 25px;
            }
            a.btn-v3 {
                line-height: 40px;
                padding-top: 0px;
                padding-bottom: 0px;
            }
            .rating {
                margin-top: 15px;
                span {
                    @include size(10px, 10px);
                    line-height: 10px;
                    &.rate {
                        i {
                            color: #ffd65a;
                        }
                    }
                }
                i {
                    font-size: $product-rating-font-size;
                    color: #cdcdcd;
                }
            }
        }

    /* Review form */

        #tab-review {
            .btn-v2 {
                padding-left: 20px;
                padding-right: 20px;
            }
            table tr td {
                padding: 13px 15px;
                line-height: 1.6;
            }
        }
        .review-form-width {
            background: #ffffff;
            margin: 10% auto;
            max-width: 600px;
            position: relative;
            z-index: 999999;
            padding: 15px;
        }
        #review-form {
            .panel-body {
                padding: 0px;
            }
            .panel-heading {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            label {
                padding: 0px;
                margin-bottom: 5px;
            }
            fieldset {
                [class*="col-sm"] {
                    width: 100%;
                }
            }
            .alert {
                margin-top: 25px;
            }
            .col-sm-offset-3 {
                margin: 0px !important;
            }
        }

    /* Related product */

        .product-related {
            margin-top: 110px;
            .product-col-wrap {
                padding-left: 15px;
                padding-right: 15px;
            }
            .owl-carousel {
                background: none;
            }
        }

    /* Quickview */

        .quickviews .image-container {
            #image-additional-carousel {
                padding: 0px 15px;
            }
            .carousel-controls-v2 {
                opacity: 0;
                .carousel-control {
                    &.left{
                        @include rtl-left(-15px);
                    }
                    &.right{
                        @include rtl-right(-15px);
                    }
                }
            }
            .owl-carousel-play:hover {
                .carousel-controls-v2 {
                    opacity: 1;
                    .carousel-control {
                        &.left{
                            @include rtl-left(0px);
                        }
                        &.right{
                            @include rtl-right(0px);
                        }
                    }
                }
            }
        }

/****** Contact Page *****/

    .contact-info {
        padding: 35px;
        .form-horizontal .form-group {
            margin-right: 0px;
            margin-left: 0px;
        }
        .media-icon {
            i {
                color: $theme-color;
                font-size: 20px;
            }
        }
        .media-heading {
            font-size: 12px;
            font-family: $font-family-base;
            margin-bottom: 10px;
        }
        .captcha fieldset [class*="col-sm"] {
            width: 100% !important;
            padding-left: 0px;
            padding-right: 0px;
        }
    }


/*********************************************** A L L ___ P A G E ***********************************************/


    /****** Site map Page *****/

        .page-information-sitemap #content {
            h1 {
                font-size: 24px;
                font-family: arial;
                font-weight: 400;
                color: $theme-color;
            }
            ul {
                padding: 0px;
                li {
                    a {
                        font-weight: bold;
                        color: #999999;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                    ul {
                        @include rtl-padding-left(15px);
                        li a {
                            font-weight: normal;
                        }
                    }
                }
            }
        }

    /***** Search Page *****/

        .page-product-search {
            #column-left .panel-default {
                margin-top: 0px;
            }
        }
        .criteria {
            padding: 25px;
            margin-bottom: 30px;
            p {
                margin-top: 10px;
            }
            #input-search, .select-wrap {
                height: 36px;
                position: relative;
                &:before {
                    content: "\f0d7";
                    position: absolute;
                    @include rtl-right(11px);
                    top: 50%;
                    margin-top: -6.5px;
                    line-height: 1;
                    color: #aaaaaa;
                    font-family: 'FontAwesome', Verdana;
                }
            }
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                height: 36px;
                padding: 0px 15px;
            }
        }

    /***** Special page *****/

        .page-product-special {
            #column-left .panel-default {
                margin-top: 0px;
            }
        }

    /***** Login Page *****/

        .page-account-login {
            .alert {
                position: absolute;
                z-index: 35;
                top: 45px;
                width: calc(100% - 30px);
            }
        }
        .sidebar {
            div.list-group {
                border: 1px solid $border-color;
                &:before {
                    content: "My Account";
                    font-size: 24px;
                    line-height: 1;
                    padding: 20px;
                    color: $white;
                    background: $theme-color;
                    display: block;
                }
                a {
                    padding: 15px 20px;
                    font-size: $font-size-base;
                    text-transform: uppercase;
                    font-family: $font-family-base;
                    border: none;
                    border-bottom: 1px solid $border-color;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }


    /***** Checkout - Checkout *****/

        #accordion {
            br {
                display: none;
            }
            .panel-title {
                font-size: 16px;
            }
            .buttons {
                margin-top: 20px;
            }
        }
        .page-checkout-checkout {
            #button-account {
                margin-top: 25px;
            }
            #button-login {
                margin-top: 10px;
            }
            .radio {
                margin-top: 10px;
            }
        }
        #input-payment-captcha {
            margin-bottom: 10px;
        }
        .alert {
            margin-bottom: 20px;
        }

    /***** Manufacturer Page *****/

        .manufacturers {
            padding: 25px;
        }
        .link-manufacturer {
            color: $theme-color;
        }

    /***** Register Page *****/

        .page-account-register {
            .buttons {
                font-family: arial !important;
                font-size: $font-size-base;
            }
            footer {
                margin-top: 35px;
            }
        }

    /***** Style table all page *****/

        table {
            background: $white;
        }
        .page-affiliate-login {
            .well {
                margin-top: 30px;
            }
        }
        .page-account-wishlist {
            .text-right {
                .btn {
                    min-width: 52px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }