// Topbar

$topbar-bg                                      : $theme-color !default;
$topbar-link-color                              : #999999 !default;
$topbar-link-hover-color                        : #222222 !default;
$topbar-color                                   : $light-gray !default;
$topbar-border                                  : 1px solid #ededed !default;
$topbar-font-size                               : 11px !default;
$topbar-icon-color                              : $gray-light !default;
$topbar-icon-font-size                          : 13px !default;
$topbar-text-transform                          : none !default;
$topbar-padding                            		: 0px 0px !default;
$topbar-font-family								: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;

// Header

$header-main-padding 							: 20px 0 !default;
$massbottom-head-bg		 						: $theme-color !default;
$massbottom-head-padding 						: 6px 9px !default;
$massbottom-head-color   						: $theme-color !default;
$massbottom-head-border-color					: darken($massbottom-head-bg,4%)!default;

// Footer

$footer-bg                                      : #ffffff !default;
$footer-color                                   : #666666 !default;
$footer-font-size                               : 14px !default;
$footer-padding                             	: 50px 0px !default;
$footer-link-font-size							: 14px !default;
$footer-link-color                              : #a3a3a3 !default;
$footer-link-hover-color                        : $theme-color !default;
$footer-heading-font-size                       : 20px !default;
$footer-heading-color                           : #d1d1d1 !default;
$footer-heading-family                         	: $font-family-second !default;
$footer-heading-transform						: uppercase !default;
$footer-newsletter-padding                      : 25px !default;
$footer-newsletter-bg                           : $theme-color !default;
$footer-newsletter-color                        : #484848 !default;
$footer-newsletter-heading-font-size            : 18px !default;
$footer-top-bg 									: url("#{$image-theme-path}bg-newsletter.jpg") center center no-repeat !default;
$footer-top-color  								: $black !default;
$footer-top-padding								: 65px 0px 0px 0px !default;
$footer-top-font-size							: 12px !default;

// Copyright

$copyright-bg                                   : #1a1a1a !default;
$copyright-color                                : #b0b0b0 !default;
$copyright-link-color                           : #000000 !default;
$copyright-padding                          	: 30px 0px !default;
$copyright-font-size							: 12px !default;